    .btn-gray {
        background-color: var(--bs-gray);
        color: white;
        transition: all .3s;
    }
    .btn-gray:hover {
        border: 2px solid var(--bs-gray);
        color: white;
        box-shadow: inset 0 0 0 2px #fff;
    }
    .btn {
        border-radius: 16px;
    }
    .btn-danger:hover {
        border: 2px solid var(--bs-danger);
        box-shadow: inset 0 0 0 2px #fff;
    }
